.app
  .header
    h1 Header
    ul
      li: a(href="#").logo X Logo
      li: a(href="#").privacy X Privacy
      li: a(href="#").name Untitled (47)
        ul.name-choices.hidden
          li: a(href="#").option Foobar
          li: a(href="#").option Baz
          li: a(href="#").option Quux
          li: a(href="#").option xyzzy

      li: a(href="#").help X Help button
      li: a(href="#").menu Hamburger menu
        ul.menu-content.hidden
          li: a(href="#").settings X Project settings
          li: a(href="#").close X Close project
          li: a(href="#").logout X Log out
  .body
    .background
      h1 Background
      ul
        li: a(href="#").logo X Logo
    .dataset
      h1 Dataset Panel
      ul
        li.name No file loaded
        li: a(href="#").change X Change dataset
        li: a(href="#").settings X Settings
        li: a(href="#").help X Help
        li: a(href="#").status X Status - incomplete
        li.content Content

    .matching
      h1 Matching Panel
      ul
        li.name --
        li: a(href="#").help X Help
        li: a(href="#").status X Status - incomplete
        li.content Content

    .visualization
      h1 Visualization Panel
      ul
        li.name None selected
        li: a(href="#").export X Export
        li: a(href="#").change X Change visualization
        li: a(href="#").help X Help
        li: a(href="#").status X Status - incomplete
        li.content Content

.modal
  .startScreen.hidden
    h1 Start screen
    ul
      li: a(href="#").new-project X New project
      li: a(href="#").open-project X Open project
      li: a(href="#").start-with-dataset X Start with dataset
      li: a(href="#").start-with-vis X Start with visualization

  .projectSettings.hidden
    h1 Project Settings
    ul
      li: a(href="#").dismiss X Dismiss

  .datasetStatus.hidden
    h1 Dataset Status
    ul
      li.statusLine [undefined]
      li: a(href="#").dismiss X Dismiss

  .datasetSettings.hidden
    h1 Dataset Settings
    ul
      li: a(href="#").dismiss X Dismiss

  .matchingStatus.hidden
    h1 Matching Status
    ul
      li.statusLine [undefined]
      li: a(href="#").dismiss X Dismiss

  .visualizationStatus.hidden
    h1 Visualization Status
    ul
      li.statusLine [undefined]
      li: a(href="#").dismiss X Dismiss

  .visualizationExport.hidden
    h1 Export Visualization
    ul
      li: a(href="#").png Download as PNG
      li: a(href="#").svg Download as SVG
      li: a(href="#").html Download as HTML
      li: a(href="#").dismiss X Dismiss

  .selectDataset.hidden
    h1 Select Dataset
    ul
      li Current dataset: #[span.current-dataset]
      li Datasets
        ul
          li: a(href="#").evens Evens
          li: a(href="#").odds Odds
          li: a(href="#").primes Primes
      li: a(href="#").dismiss Dismiss

  .selectVisualization.hidden
    h1 Select Visualization
    ul
      li Current visualization: #[span.current-visualization]
      li Visualizations
        ul
          li: a(href="#").scatterplot Scatter Plot
          li: a(href="#").barchart Bar Chart
      li: a(href="#").dismiss Dismiss

  .openProject.hidden
    h1 Open Project
    ul
      li Current project: #[span.current-project]
      li Projects
        ul
          li: a(href="#").mkultra MK-Ultra
          li: a(href="#").runway Runway
          li: a(href="#").gutenberg Gutenberg
      li: a(href="#").dismiss Dismiss

  .helpScreen.hidden
    h1 Help Screen
    ul
      li: a(href="#").dismiss X Dismiss
